.header-container {
  width: 100%;
  background-color: var(--list-bg-color);
}
.header-wrapper {
  height: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  color: var(--button-bg-color3);
}

.nav-item {
  margin-right: 2rem;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.nav-bell {
  width: 20px;
  height: 20px;
  background: url('../../../assets/icons/bell.png') no-repeat center;
}

.nav-settings {
  width: 20px;
  height: 20px;
  background: url('../../../assets/icons/settings.svg') no-repeat center;
}
.nav-item:hover {
  transform: scale(1.3);
}

.avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: url('../../../assets/icons/avatar.png') no-repeat center;
}
