.page-control-btn {
  height: 43px;
  margin-left: 2.4rem;
  padding: 1.2rem, 1.6rem;
  border-radius: 8px;
  border: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9rem;
  color: var(--font-color-4);
  background-color: var(--button-bg-color3);
  cursor: pointer;
}

.page-control-btn:hover {
  background-color: #057bbe;
}
.text {
  width: 122px;
}

.arrow-btn {
  width: 49px;
}
