.fixed-overlay {
  position: fixed;
  top: -2000px;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: rgba(33%, 33%, 33%, 0.5);
  transition: top 0.7s ease-out;
  z-index: 3;
}
.modal {
  position: relative;
  margin: 0 auto;
  margin-top: 30vh;
  width: 30.6rem;
  height: 23.8rem;
  background: var(--list-bg-color);
  box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
  border-radius: 8px;
}

.modal-content {
  width: 30.6rem;
  height: 23.8rem;
  display: flex;
  flex-direction: column;
}

.modal-text {
  width: 20.17rem;
  margin-top: 4rem;
  align-self: center;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.9rem;
}
.btn-close {
  width: 17px;
  height: 17px;
  margin-top: 15px;
  margin-right: 15px;
  align-self: flex-end;
  border: transparent;
  background: url('../../../assets/icons/close_small.svg') no-repeat center;
  cursor: pointer;
}
.modal-footer {
  width: 21.7rem;
  margin-top: 4.8rem;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.btn {
  height: 43px;
  border-color: transparent;
  border-radius: 8px;
  color: var(--font-color-4);
  font-weight: 600;
  cursor: pointer;
}

.btn-cansel {
  width: 82px;
  background-color: var(--button-bg-color3);
}

.btn-cansel:hover {
  background-color: #057bbe;
}

.btn-delete {
  width: 111px;
  background-color: #ba3409;
}

.btn-delete:hover {
  background-color: #972c08;
}
